client/cypress/screenshots/Tests/Register.spec.js/register -- should register with valid credentials (1).png
client/cypress/screenshots/Tests/Register.spec.js/register -- should register with valid credentials (2).png
client/cypress/screenshots/Tests/Register.spec.js/register -- should register with valid credentials.png
